@model SmallBusiness.Models.Catagery

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Catagery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCatagery" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatageryName" class="control-label"></label>
                <input asp-for="CatageryName" class="form-control" />
                <span asp-validation-for="CatageryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="clientFile" class="control-label">Category Image</label>
                <input type="file" asp-for="clientFile" accept="image/*" onchange="validateImage(event)" />
                <img id="myImg" height="200" />
                @if (!string.IsNullOrEmpty(ViewBag.error))
                {
                    <span class="text-danger">@ViewBag.error</span>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexCatagery">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function validateImage(event) {
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function () {
                    var myImg = document.getElementById('myImg');
                    myImg.src = reader.result;
                };
                reader.readAsDataURL(file);
            } else {
                alert('Please upload an image file.');
                event.target.value = ''; // Clear the input
            }
        }
    </script>
}
