@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="banner_section layout_padding">
    <div class="container">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-12" style="line-height: 1;">
                           
                            <h1 class="banner_taital" style="text-align:left;">Welcome to<br /> <font color="#002c3e">Famms</font> </h1>
                            <h3 style="text-align:left;">
                                Empowering... Accessible... Innovative..<br />
                                <a style="display: inline-block;   padding: 12px 45px; background-color: #f7444e; border: 1px solid #f7444e;   color: #ffffff;   border-radius: 0; -webkit-transition: all 0.3s; transition: all 0.3s;   margin-top: 10px; font-weight: 700;" asp-area="" asp-controller="User" asp-action="UserLogin">Shop Now</a>

                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->

</div>

<section class="about_section" style="margin:60px;">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <br /><br /> <br />
                    <br /> <br /> <br />
                    <br /><br /> <br />
                    <br /> <br /> <br />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/about.png" alt="About Us" style="width:80%; height:40%;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About <span>Us</span>
                        </h2>
                    </div>
                    <p>
                        Welcome to Eflyer, where you can discover and purchase unique products from passionate small business owners. Our mission is to empower local artisans by providing a platform to showcase their distinctive products directly to you.

                        Explore a wide range of categories:
                        <ul>
                            <li><strong>Fashion and Accessories:</strong> Stylish clothing, jewelry, shoes, and bags.</li>
                            <li><strong>Home and Living:</strong> Unique carpets, furniture, and home decor.</li>
                            <li><strong>Electronics and Gadgets:</strong> Durable phone cases and innovative accessories.</li>
                            <li><strong>Kids and Toys:</strong> Fun, educational, and safe toys for all ages.</li>
                        </ul>

                        Enjoy exceptional customer service and support small businesses with every purchase. Thank you for choosing [Your Website Name]!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<div class="copyright_section" style="display:flex;">
    <div class="container" style="flex:1;">
        <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html Templates</a></p>
    </div>
    <div class="social-media-icons" style="flex:1;">
        <a href="#" target="_blank" class="icon facebook-icon"><img src="~/images/download.png" /></a>
        <a href="#" target="_blank" class="icon twitter-icon"><img src="~/images/download (2).png" /></a>
        <a href="#" class="icon linkedin-icon"><img src="~/images/download (1).png" /></a>
        <a href="#" target="_blank" class="icon facebook-icon"><img src="~/images/download (1).jpeg" /></a>
    </div>
</div>